body,
html{
 margin: 0;
 padding: 0;

}


header{
    margin: 0 auto;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    max-width: 1319px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}


.iconContainer {
    display: flex;
    justify-content: start;
    width: 129px;
    height: 24px;
}

.iconGuide {
    display: flex;
    justify-content: start;
    width: 24px;
    padding: 8px;
    margin: 0 16px 0 0;
}

.iconGuide button{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 0;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border: 0;
}

header form{
    max-width: 900px;
    width: 100%;
    
}

.containerSearch{
    display: flex;
    justify-content: center;
    max-width: 850px;
    min-width: 45px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
}
.inputSearch{
    display: inline-flex;
    align-items: center;
    max-width: 550px;
    margin: 0;
    width: 100%;
    height: 26px;
    border: 1px solid silver;
    padding: 1px 6px;
}

.inputSearch input{
    display: inline-flex;
    justify-content: center;
    max-width: 531px; 
    width: 100%;  
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}
.containerSearch button{
    width: 65px;
    height: 30px;
    padding: 0;
    border: 1px  solid silver;
    border-radius: 0 2px 2px 0;


}
.scope {
    width: 22px;
    height: 22px;
    margin: 0 auto;
}


.buttons{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.buttons div button{
    width: 24px;
    height: 24px;
}

.buttons div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#sidebar{
    width: 223px;
    height: auto;
}