
#table{
    max-width: 2560px;
    width: calc(100% - 250px); 
    height: 100%; 
    margin-top: 56px;
    margin-left: 250px;
    padding: 0;
    display: grid;
    gap: 20px;
    background-color: #f9f9f9;

}

@media (min-width: 480px) and (max-width: 720px){
    #table {
        grid-template-columns: repeat(1, minmax(250px, 450px));
        grid-template-rows:  repeat(1, minmax(100px, 250px));
        justify-content: center;
    }
}


@media (min-width: 720px) and (max-width: 1080px){
    #table {
        grid-template-columns: repeat(2, minmax(150px, 350px));
        grid-template-rows:  repeat(2, minmax(calc(150px / 1.78), calc(350px / 1.78)));
        justify-content: center;
    }
}

@media (min-width: 1080px) and (max-width: 1440px){
    #table {
        grid-template-columns: repeat(3, minmax(150px, 350px));
        grid-template-rows:  repeat(3, minmax(calc(150px / 1.78), calc(350px / 1.78)));
        justify-content: center;
    }
}



@media (min-width: 1440px) and (max-width: 1800px){
    #table {
        grid-template-columns: repeat(4, minmax(150px, 350px));
        grid-template-rows:  repeat(4, minmax(calc(150px / 1.78), calc(350px / 1.78)));
        justify-content: center;
    }
}


@media (min-width: 1800px) and (max-width: 2160px){
    #table {
        grid-template-columns: repeat(5, minmax(150px, 350px));
        grid-template-rows:  repeat(5, minmax(calc(150px / 1.78), calc(350px / 1.78)));
        justify-content: center;
    }
}


main img{
    /* max-width: 350px; */
    width: 100%;
    height: 100%;
}
.author{
    height: 100%;
    font-size: 14px;
    
}

.blockImages{
    width: 100%;
    height: 100%;
}
