body,
html,
p{
    margin: 0;
    padding: 0;
    font-size: 8px;
    font-family: 'Roboto','Noto',sans-serif;
}
body{
    display: grid;
    grid-template-areas: "header header"
                         "aside section";
    grid-template-columns: 240px 1fr;
    /* justify-items: stretch; */
    grid-gap: 0;
    overflow-y: hidden;
    /* background-color: #dbdbdb; */
}
svg{
    fill: #606060;
}

header{
    grid-area: header;
    height: 56px;
    padding: 0 16px;
    margin: 0;
    display: flex;
    max-width: 2560px;
    width: 100% - 20px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.yt{
    display: inline-flex;
    align-items: center;
}

.iconContainer {
    width: 83px;
    height: 24px;
}


.iconGuide {
    display: flex;
    justify-content: start;
    width: 24px;
    padding: 8px;
    margin: 0 16px 0 0;
}

.iconGuide button{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 0;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border: 0;
}

header form{
    max-width: 900px;
    width: 100%;
    
}

.containerSearch{
    display: flex;
    justify-content: center;
    max-width: 640px;
    min-width: 45px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
}
.inputSearch{
    display: inline-flex;
    align-items: center;
    max-width: 550px;
    margin: 0;
    width: 100%;
    height: 26px;
    border: 1px solid rgb(209, 209, 209);
    padding: 1px 6px;
}

.inputSearch input{
    display: inline-flex;
    justify-content: center;
    max-width: 531px; 
    width: 100%;  
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: 'Roboto','Noto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: inherit;
}
.containerSearch button{
    width: 65px;
    height: 30px;
    padding: 0;
    border: 1px  solid #d3d3d3;;
    border-radius: 0 2px 2px 0;
    background-color: #f8f8f8;

}
.scope {
    width: 22px;
    height: 22px;
    margin: 0 auto;
}


.listButtons{
    width: 204px;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.Profile .iconProfile{
    width: 32px;
    height: 32px;
    background-color: #4285f4;
    border-radius: 20px;
}


.listButtons div button{
    width: 24px;
    height: 24px;
    padding: 0;
    outline: none;
    line-height: 0;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border: 0;  
}
.button svg,
.button g{
    width: 100%;
    height: 100%;
}

.listButtons .button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



aside{
    grid-area: aside;
    width: 240px;
    height: 540px;
    overflow: hidden;
}

aside:hover{
    overflow-y: scroll;
    scroll-margin: 0;
    scroll-padding: 0;
}

aside::-webkit-scrollbar{
    width: 8px;
    background-color: white;
    margin: 0;
    padding: 0;
}
aside::-webkit-scrollbar-thumb{
    background-color: rgb(209, 209, 209);;
}


aside ul,
aside li{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 1.38em;
}
aside ul{
    width: 232px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.guideList li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 6px;
    width: 226px;
    height: 40px;
    cursor: pointer;
}
.guideList li:hover{
    background-color: rgba(218, 218, 218, 0.507);
}

.listText{
    width: 144px;
    height: 18px;
}

.listIcons{
    width: 24px;
    height: 24px;
    margin: 0;
    margin-right: 24px;
}



.subscriptions,
.OtherOpportunities{
    padding-left: 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    color: #606060 ;
    font-family: Roboto, Arial, sans-serif;
}

.support,
.regulations{
    width: 192px;
    height: auto;
    margin: 14px 24px;
    font-size: 13px;
}
.support a,
.regulations a{
    margin-right: 6px;
    margin-top: 4px;
    outline: none;
    text-decoration: none;
    color: #606060;
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */

#table{
    grid-area: section;
    max-width: 2560px;
    width: 100% ;
    height: 535px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: stretch;
    grid-gap: 20px;
    background-color: white;
}

@media (min-width: 481px) and (max-width: 767px){
    #table {
        width: 500px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}


section img{
    max-width: 250px;
    width: 100%;
    max-height: 140px;
    height: 100%;
}
section div{
    margin-top: 10px ;
    height: auto;
}
